.nav li a {
float : left ;
display : block ;
text-align : center ;
padding : 12px 25px 15px 25px ;
font-size : 25px ;
text-decoration : none ;
color : #FFFFFF ;
font-family : Comic Sans MS ;
}

.nav {
list-style-type : none ;
margin : 5px ;
padding : 0px ;
border-radius : 15px ;
overflow : hidden ;
background-color : #17202A ;
border : 1px solid #17202A ;
}

.nav .log {
float : right ;
}

li a:hover:not(.active) {
background-color : #5D6D7E ;
}

li a.active {
color : #FFFFFF ;
background-color : #17202A ;
}

footer {
position : fixed ;
bottom : 0 ;
left : 50% ;
transform : translate(-50%, -50%) ;
border-radius : 5px ;
background-color : #17202A ;
color : #FFFFFF ;
padding : 0px 6px 5px 6px ;
}

footer a {
text-decoration : none ;
color : #FFFFFF ;
font-family : Comic Sans MS ;
}

.Box {
width : 1220px ;
height : 350px ;
background-color : #17202A ;
position : fixed ;
top : 50% ;
left : 50% ;
transform : translate(-50%, -50%) ;
padding : 40px ;
margin-top : 30px ;
padding-top : 15px;
border-radius : 25px ;
box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
opacity : 0.9 ;
}

input {
border : none ;
width : 200px ;
background-color : #17202A ;
font-size : 15px ;
margin-left : 15px ;
margin-top : 20px ;
text-align: center;
font-family : Comic Sans MS ;
color : #FFFFFF ;
}

h3{
font-size : 15px ;
color : #FFFFFF ;
font-family : Comic Sans MS ;
}

h1{
margin-left : 500px ;
font-size : 40px ;
color : #FFFFFF ;
font-family : Comic Sans MS ;
}

.S {
padding-top : 20px ;
}

.all {
background-size : cover ;
background-repeat : no-repeat ;
background-image : url("B.jpg") ;
}
