body{
  margin: 0;
  padding: 0;
  background-color:#F0F8FF;
  font-family: Comic Sans MS;
}
.box{
  width: 320px;
  height: 350px;
  background-color:#17202A       ;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity : 0.9 ;
}
.box2{
  width: 320px;
  height: 350px;
  background-color:#17202A     ;
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity : 0.9 ;
}
.box3{
  width: 420px;
  height: 250px;
  background-color:#17202A ;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity : 0.9 ;
}
.box4{
  width: 420px;
  height: 250px;
  background-color:#17202A ;
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity : 0.9 ;
}
h3{
  text-align:center;
  font-size: 20px;
  color:#FFFFFF;
}
h1{
  text-align:left;
  font-size: 15px;
}
 p{
  font-weight:bold;
  color:#FFFFFF;
  padding:0;
  margin:0;
}
input{
  width:100%;
margin-bottom:30px;
}
.in,.in2,.remove{
  font-size:30px;
  border: 1px solid black;
  background:transparent;
  height:40px;
  outline:none;
}
.feed{
  font-size:20px;
  border: 1px solid black;
  background:transparent;
  height:150px;
  width: 400px;
  outline:none;
  align:center;
}
.sub{
  background-color:#2E4053;
  color: #FFFFFF;
   height:40px;
     border: 1px solid black;
     width:100px;
     font-size:20px;
    margin-left:110px;
    cursor: pointer;
    border-radius: 7px;
    overflow: visible;
}
.sub2{
  background-color: #2E4053;
  color: #FFFFFF;
   height:40px;
     border: 1px solid black;
     width:100px;
     font-size:20px;
    margin-left:150px;
    cursor: pointer;
    border-radius: 7px;
    overflow: visible;
}

.nav>li a{
float:left;
display:block;
padding: 12px 25px 15px 25px;
font-size:25px;
text-decoration:none;
  color:white;
}
.nav{
  list-style-type:none;
  margin:5px;
  padding:0px;
  overflow:hidden;
  background-color:#17202A  ;
  border: 1px solid #17202A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
.nav>.log{
  float:right;
}
li a:hover:not(.active){
  background-color:#5D6D7E;
}
li a:hover:(.active) {
  color: white;
  background-color: #FFFFFF;
}
footer a{
  text-decoration:none;
  color: #FFFFFF;
}
.all{
  background-image: url("images/z2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
footer{
  position: fixed;
	bottom: 0;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
    background-color: #17202A ;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px 6px 5px 6px;
}
